
@font-face {
  font-family: 'Orbitron';
  src: url('../media/fonts/Orbitron-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Share Tech';
  src: url('../media/fonts/ShareTech-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}